        <div class="container body">
          <div class="main_container">

            <!-- Barra lateral -->
            <div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide">
                <div class="navbar nav_title navbar-fixed-top" style="border: 0;">
                  <a href="/" class="site_title"><i class="fa fa-cloud"></i> <span>Cloud Vendas</span></a>
                </div>
              <div class="left_col scroll-view">

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                  <div class="profile_pic">
                    <img src="images/avatar/if_malecostume_403022.png" alt="..." class="img-circle profile_img">
                  </div>
                  <div class="profile_info">
                    <h2>Mick Hill</h2>
                    <span>Administrador</span>
                  </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                  <div class="menu_section">
                    <h3>Menu</h3>
                    <ul class="nav side-menu">






          <li>
            <a href="/consulta-produtos">
              <i class="fa fa-barcode"></i> Consultar Produtos
            </a>
          </li>

          <li>
            <a href="/produtos">
              <i class="fa fa-tags"></i> Produtos e Serviços
            </a>
          </li>

          <li>
            <a href="/estoque">
              <i class="fa fa-cubes"></i> Estoque
            </a>
          </li>

          <li>
            <a>
              <i class="fa fa-credit-card"></i> Vendas <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">

            <li>
              <a href="/vendas/nova-venda">
                <i class="fa fa-shopping-cart"></i> Nova Venda
              </a></li>

            <li>
              <a href="/vendas/finalizar-venda">
                <i class="fa fa-check-square-o"></i> Finalizar Venda
              </a></li>

            <li>
              <a href="/vendas/cancelar-venda">
                <i class="fa fa-thumbs-down"></i> Cancelar Venda
              </a></li>

            <li>
              <a href="/vendas/relatorio-das-vendas">
                <i class="fa fa-file-text-o"></i> Relarótio das Vendas
              </a></li>

            </ul>
          </li>

          <li>
            <a href="/clientes">
              <i class="fa fa-child"></i> Cliente
            </a>
          </li>

          <li>
            <a href="/fornecedores">
              <i class="fa fa-truck"></i> Fornecedores
            </a>
          </li>

          <li>
            <a href="/funcionarios">
              <i class="fa fa-group"></i> Funcionários
            </a>
          </li>

          <li>
            <a href="/financeiro">
              <i class="fa fa-money"></i> Finanças
            </a>
          </li>

          <li>
            <a href="/usuarios">
              <i class="fa fa-user"></i> Usuários
            </a>
          </li>





                    </ul>
                  </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                  <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  </a>
                  <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="toggleFullScreen()">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                  </a>
                  <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                  </a>
                  <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                  </a>
                </div>
                <!-- /menu footer buttons -->
              </div>
            </div>        <!-- Fim Barra lateral -->





            <!-- top navigation -->
                    <div class="top_nav navbar-fixed-top">
              <div class="nav_menu">
                <nav>
                  <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                  </div>

                  <ul class="nav navbar-nav navbar-right">
                    <li class="">
                      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="images/avatar/if_malecostume_403022.png" alt="">Mick Hill
                        <span class=" fa fa-angle-down"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Profile</a></li>
                        <li>
                          <a href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>Settings</span>
                          </a>
                        </li>
                        <li><a href="javascript:;">Help</a></li>
                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                      </ul>
                    </li>

                    <li role="presentation" class="dropdown">
                      <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                      </a>
                      <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                          <a>
                            <span class="image"><img src="images/avatar/if_malecostume_403022.png" alt="Profile Image" /></span>
                            <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="image"><img src="images/avatar/if_malecostume_403022.png" alt="Profile Image" /></span>
                            <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="image"><img src="images/avatar/if_malecostume_403022.png" alt="Profile Image" /></span>
                            <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="image"><img src="images/avatar/if_malecostume_403022.png" alt="Profile Image" /></span>
                            <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                          </a>
                        </li>
                        <li>
                          <div class="text-center">
                            <a>
                              <strong>See All Alerts</strong>
                              <i class="fa fa-angle-right"></i>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>        <!-- /top navigation -->





            <!-- page content -->
                    <div class="right_col" role="main">

            </div>                                <!-- /page content -->





            <!-- footer content -->
                            <footer>
              <div class="pull-right">
                <!-- Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a> -->
                 All Rights Reserved. <a href="#sobre" data-toggle="modal" title="Development">Mick Hill</a> © 2017
              </div>
              <div class="clearfix"></div>
            </footer>        <!-- /footer content -->
          </div>
        </div>