        <div class="container body">
            <div class="main_container">



                <!-- BARRA LATERAL -->
                <?php include('painel-lateral.phtml');?><!-- /BARRA LATERAL -->





                <!-- BARRA DO TOPO -->
                <?php include('painel-topo.phtml');?><!-- /BARRA DO TOPO -->





                <!-- CONTEUDO DA PÁGINA -->
                <?php require_once $this->atual_view; ?><!-- /CONTEUDO DA PÁGINA -->





                <!-- RODAPÉ DA PÁGINA -->
                <?php include('rodape.phtml');?><!-- /RODAPÉ DA PÁGINA -->


            </div>
        </div>