<div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title navbar-fixed-top" style="border: 0;">
                            <a href="<?php echo $this->url->get_url_base(); ?>" class="site_title"><i class="fa fa-cloud"></i> <span><?php echo CONF_SETUP['NAME_APP']; ?></span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="<?php echo $this->url->get_url_base('images/avatar/if_malecostume_403022.png'); ?>" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <h2>Mick Hill</h2>
                                <span>Administrador</span>
                            </div>
                        </div><!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>Menu</h3>
                                <ul class="nav side-menu">
<?php
    // Se existir menus
    if (is_array(CONF_MENUS_PAINEL))
    {
        // Lista os menus
        foreach (CONF_MENUS_PAINEL as $key => $value)
        {
            //exibi a listagem
            if(!is_array($value['uri']))
            {
                echo '
                                    <li>
                                        <a href="'. $this->url->get_url_base($value['uri']) .'">
                                            <i class="fa '. $value['icon'] .'"></i> '. $value['nome'] .'
                                        </a>
                                    </li>
                ';
            }

            // Se existir dub-menus
            elseif(is_array($value['uri']))
            {
                echo '
                                    <li>
                                        <a>
                                            <i class="fa '. $value['icon'] .'"></i> '. $value['nome'] .' <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                ';

                // lista sub-menu
                foreach ($value['uri'] as $skey => $svalue)
                {
                    echo '
                                            <li>
                                                <a href="'. $this->url->get_url_base($svalue['uri']) .'">
                                                    <i class="fa '. $svalue['icon'] .'"></i> '. $svalue['nome'] .'
                                                </a>
                                            </li>
                    ';
                }
                echo '
                                        </ul>
                                    </li>
                ';
            }
        }
    }
    // Se não existir menus
    else{
        echo '
                                    <li class="active">
                                        <a href="#">
                                            <i class="fa fa-frown-o"></i>
                                            Não há menus!
                                        </a>
                                    </li>
        ';
    }
?>

                                </ul>
                            </div>
                        </div><!-- /sidebar menu -->

                        <!-- menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="toggleFullScreen()">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div><!-- /menu footer buttons -->
                    </div>
                </div>