<footer>
                    <div class="pull-right">
                        <!-- Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a> -->
                        All Rights Reserved. <a href="#sobre" data-toggle="modal" title="Development">Mick Hill</a> © 2017
                    </div>
                    <div class="clearfix"></div>
                </footer>