        <style>
            *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
        </style>
        <a href="<?php echo $this->url->get_url_base(); ?>"><span id=logo aria-label=Google></span></a>
        <p><b>500.</b> <ins>That’s an error.</ins>
        <p>The requested URL <code><b>/<?php echo $this->url->get_uri(); ?></b></code> was not found on this server.  <ins>That’s all we know.</ins>

<?php

switch ($_SERVER['ENVIRONMENT'])
{
    case 'development':
        echo '</br></br>Ambiente de <b>Desenvolvimento.</b></br></br>';
        break;
    case 'testing':
        echo '</br></br>Ambiente de <b>Testes.</b></br></br>';
        break;
    default:
        die;
        break;
}
?>